html,
*{
padding: 0;
margin: 0;
text-decoration:none;
list-style: none;
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: montserrat;
    font-size: 16px;
    background: #333333;
}
nav{
background: linear-gradient(#ffdad5, #fff7f9);
height: 80px;
width: 100%;
}
label.logo{
color:linear-gradient(#ffdad5, #fff7f9);
font-size: 35px;
line-height: 80px;
padding:0 100px;
font-weight: bold;
}
nav ul{
float; right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}
a.active,a:hover{
background: #1b9bff;
transition: .5s;
}
.checkbtn{
 font-size: 30px;
 color: white;
 float: right;
 line-height: 80px;
 margin-right: 40px;
 cursor: pointer;
 display: none;
}
#check{
display: none;
}
@media (max-width: 952px){
label.logo{
font-size: 30px;
padding-left: 50px;
}
nav ul li a{
font-size: 16px;
}
}
@media (max-width: 858px){
.checkbtn{
display: block;
}
ul{
position: fixed;
width: 100%;
height: 100vh;
background: #2c3e50;
top: 80px;
left: -100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line height: 30px;
}
nav ul li a{
font-size: 20px;
}
a;hover,a.active{
background: none;
color: #0082e6;
}
#check:checked ~ ul{
left: o;
}
    
	}

.wrapper {
    background: #ffffff;
    overflow: auto;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer {
    font-size: 0.85rem;
    padding: 20px 0;
    line-height: 1.6;
}

.footer__text,
.footer__link,
.footer__title {
    color: #aaaaaa;
    padding: 3px 15px;
    display: block;
    background: black;
}

.footer__hr {
    height: 1px;
    border: none;
    background:black;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background: black;
}

.footer__section {
    box-sizing: border-box;
    width: 25%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    color: #cccccc;
    background: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
    .footer__section { width: 50%; }
}

@media screen and (max-width: 480px) {
    .footer__section { width: 100%; }
}
/*navlinks*/
/* Add a black background color to the top navigation */
.header {
  padding: 60px;
  text-align: center;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(images/fry.jpg);
    background-position: center;
    background-size: cover;
  color: white;
  font-size: 30px;
}
/*facilities*/
/*team*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.team{
    background: linear-gradient(#ffdad5,#fff7f9);
    font-family: "Century Gothic";
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.title{
    text-align: center;
    text-transform: capitalize;
    color: #726a95;
    margin: 10px 0;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid #726a95;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #726a95;
    margin: 15px 0;
}

.member p{
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}
/*contact*/
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
font-family:'outfit';
background: linear-gradient(#ffdad5,#fff7f9);
}
.contact-container{
height: 100vh;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.contact-left{
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
}
.contact-left-title h3{
font-weight: 600;
color: #a363aa;
font-size: 40px;
margin-bottom: 5px;
} 
.contact-left-title hr{
border: none;
width: 120px;
height: 5px;
bakground-color: #a363aa;
border-radius: 10px;
margin-bottom: 20px;
}
.contact-inputs{
width: 400px;
height: 50px;
border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: #666;
border-radius: 50px;
}
.contact-left textarea{
height: 140px;
padding-top: 15px;
border-radius: 20px;
}
.contact-inputs:focus{
border: 2px solid #ff994f;
}
.contact-inputs::placeholder{
color: #a9a9a9;
}
.contact-left button{
display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px;
color: #fff;
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(270deg, #ff994f, #fa6d86);
cursor: pointer;
}
.contact-left button img{
height: 15px;
}
@media (max-width: 800px){
.contact-inputs{
width: 80vw;
}
.container-right{
display: none;
}
}
/*blog*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.blog {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .blog {
    width: 100px;
  }
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
